*{

    margin: 0;

    padding: 0;

    text-decoration: none;

    list-style: none;

    box-sizing: border-box;

}


body{
    width: 100%;
    height: 100%;
       
       font-family: sans-serif;
   
   }
   
   html,body{
   
       overflow-x: hidden;
   
   }
.wrapper{
width: 100%;
height: 100%;
    margin-bottom: 40px;
    


 background: linear-gradient( 30deg, white 65%, rgb(190, 184, 184) );

}


.container{

   width: 100%;
   padding-left: 128px;
   padding-right: 128px;



}

.cont{
 background: linear-gradient( 30deg, white 65%, rgb(190, 184, 184) );
   padding-bottom: 30px;
    display: flex;
    width: 100%;
    box-shadow: 0px 3px rgba(206, 206, 206, 0.4);
    align-items: center;
   justify-content: space-between;
    z-index: 1000;
    position: fixed;

}

.logo{

    padding-left: 20px;

}

.cont ul{

    
    padding-top: 50px;
    padding-right: 30px;


}

.cont ul li{
    margin-right: 20px;
     
    display: inline;
      position: relative;
    

}

.cont ul li a{
    border-bottom: 3px solid black;
    border: none;
    color: black;

    font-size: 30px;

}

.cont ul li a::before{
    content: " ";
    width: 100%;
    height: 3px;
    background-color: rgb(43, 43, 3);
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: 1s all ease-in-out;

}

.cont ul li a:hover::before{
    opacity: 1;

}
.cont ul button:hover{
    background-color: rgb(10, 38, 64);
    color: white;
    transition: 2s all ease-in-out;



}

.logo h1{

    font-size: 70px;

    letter-spacing: 2px;

    color: rgb(10,38,64);

    padding-top: 10px;

}

.cont button{
  
    width: 7rem;

    height: 2rem;

    border-radius: 50px;

    background-color: white;

    font-size: 25px;
    

    font-weight: 600;

    cursor: pointer;

}

.logo img{

    padding-top: 50px;

    width: 100%;

}

.cont-write{
   padding-top: 40px;
    display: flex;

    justify-content: space-between;

    align-items: center;

}


.cont-write img{

    padding-top: 100px;

    width: 40%;

}

.cont-write-up{

    
    width: 40%;

}

.cont-write-up h3{


    font-size: 60px;

    line-height: 75px;

    font-weight: 60;

    color: rgb(3, 3, 3);

   }

   .cont-write-up p{

    font-size: 20px;

    padding-top: 25px;

    padding-bottom: 50px;

    color: rgb(144, 144, 144);

    line-height: 30px;

    font-weight: 300;

   }

.btn-2 .btn2{

    width: 14rem;

    height: 3rem;
   cursor: pointer;
    border-radius: 50px;

    background-color: rgb(10,38,64);

    border: none;

}
.btn2:hover {
    background-color: rgb(144, 144, 144);
    
    box-shadow: 2px 3px 2px 3px rgba(59, 59, 59, 0.3);
   

}

.btn-2 .btn2 a{

   color: white;

   font-size: 20px;

}

.btn2:hover a{
   color: rgb(10,38,64);
   font-weight: bold;
}

.btn-2 .btn3{
   margin-left: 10px;
    width: 12rem;

    height: 3rem;

    border-radius: 50px;

    
    border: 2px solid black;

}
.btn3:hover {
    background-color: rgb(10, 38, 64);
    
    box-shadow: 2px 3px 2px 3px rgba(59, 59, 59, 0.3);
   

}

.btn-2 .btn3 a{

   color: rgb(10,38,64);

   font-weight: bold;

   font-size: 20px;

}

.btn3:hover a{
    color: white;
    
 }

.brnd{

    padding-top: 50px;

    display: flex;

    justify-content: space-between;

   
}

.brnd img{

    width: 10%;

}
.harmburger-menu{


display: none;
cursor: pointer;
    
}
.line-1{
    width: 3rem;
    
    height: 6px;
    margin-bottom: 6px;
    background-color: black;
}
.line-2{
    width: 3rem;
    margin-bottom: 6px;
    
    height: 6px;
    background-color: black;
}
.line-3{
    width: 3rem;
    height: 6px;
    background-color: black;
}

@media(max-width: 567px){
    .cont{
       padding-top: 30px;
 background: linear-gradient( 30deg, white 100%, rgb(190, 184, 184) );

    
       
        
        
    }
    .wrapper{
 background: linear-gradient( 30deg, white 100%, rgb(190, 184, 184) );

    }
    
.harmburger-menu{

    display: flex;
    padding-right: 20px;
        
    }

  .cont ul{
     
    display: none;

  }
  
.logo img{

    padding-top:0px;



}

  .cont-write img{

    display: none;

  }


  .cont-write-up {

    width: 100%;

     
  }

  .cont-write .cont-write-up h3{
   padding-top: 0px;
    font-size: 30px;
     font-weight: bold;
    line-height: 40px;

  }
  .cont-write .cont-write-up p{
    line-height: 40px;
     font-size: 25px;

    
 
   }
 

.btn-2{
 display: flex;
 flex-direction: row;
 

    

}


.btn-2 .btn2{

    width: 8rem;

    height: 3rem;
 margin-bottom: 30px;
   
    border-radius: 50px;

    background-color: rgb(10,38,64);

    border: none;

}
.btn-2 .btn2:hover{
    background-color: rgb(144, 144, 144);
}
.btn-2 .btn2 a:hover{
    color: black;
}



.btn-2 .btn3{

    
    width: 8rem;

    height: 3rem;

    border-radius: 50px;

    
    border: 2px solid black;

}


.brnd{

    display: none;

}
.cont-write{
    padding-top: 70px;
}

}

@media(max-width: 768px){
    .cont{
        padding-top: 30px;
  background: linear-gradient( 30deg, white 100%, rgb(190, 184, 184) );
 
     
        
         
         
     } 
     .harmburger-menu{
     
         display: block;
         
         padding-right: 20px;
             
         }
    .wrapper{
        margin-bottom: 0px;
    }
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    
  .cont ul{

    display: none;

  }
  .logo img{
    padding-top: 0;



}
  
  .cont-write-up {

    width: 100%;
    
    padding-top: 50px;

     
  }
  .btn-2 .btn2:hover{
    background-color: rgb(144, 144, 144);
}
.btn-2 .btn2 a:hover{
    color: black;
}

  
  .cont-write-up h3{

    font-size: 30px;
     font-weight: bold;
    line-height: 40px;
    

  }
  
  .cont-write-up p{

    font-size: 20px;

    line-height: 40px;
    

  }
  .cont-write img{
    width: 40%;
     padding-bottom: 50px;
     

  }
  
 



  .btn-2{
    display: flex;
    padding-right: 30px;
       
   
   }

.btn-2 .btn2{

    width: 13rem;

    height: 3rem;

    border-radius: 50px;

    background-color: rgb(10,38,64);

    border: none;
    

}


.btn-2 .btn3{

    
    width: 10rem;

    height: 3rem;

    border-radius: 50px;
    border: 2px solid black;
    padding-bottom: 0px;

}

.brnd img{
    
    padding-bottom: 20px;
  display: block;
  width: 12%;

}
}
@media(max-width: 992px){
     .container{
        padding-left: 10px;
        padding-right: 10px;
     }
     .cont-write-up {

        width: 100%;
    
         
      }
      .cont-write-up h3{

        padding-top: 30px;
    
         
      }
      .btn-2 .btn3{
        margin-left: 30px;
      }



}

/* Service*/



.service{


    background-color: rgb(10, 38, 64);

   
    width: 100%;

   
    height: 100%;

   
   }

   
   .service-content{

   
       width: 100%;

   
    height: 100%;

   
   
   }

   
   .service-cont{

   
    display: flex;

   
    justify-content: center;

   
    align-items: center;

   
    padding-top: 0px;

   
    flex-direction: row;

   
    width: 100%;

   
    
   }

   
   .writeup-1{

   
    display: flex;

   
    flex-direction: column;

   
    align-items: center;

   
    padding-bottom: 70px;

   
    padding-top: 30px;

   
   }

   
   
   .writeup-1 h2{

   
    color: white;

   
    padding-bottom: 20px;

   
    font-weight: 100;

   
    font-size: 30px;

   
    letter-spacing: 2px;

   
   }

   
   
   .writeup-1 h1{

   
   color: white;

   
   width: 70%;

   
   text-align: center;

   
   font-size: 30px;

   
   font-weight: 100;

   
   }

   
   
   .serv-images{

   
       padding-bottom: 40px;

   
    display: flex;

   
    width: 100%;

   
    align-items: center;

   
    justify-content: space-evenly;

   
   }

   
   .service-img1{

   
    display: flex;

   
    flex-direction: column;

   
    justify-content: space-evenly;

   
    padding-top: 0px;

   
   }

   
   
   .img1-cont{

   
    padding-top: 30px;

   
   }

   
   .service-img{

   
    display: flex;

   
    width: 100%;

   
    align-items: center;

   
    justify-content: space-evenly;

   
   }

   
   .service-img1 img{

   
       width: 100%;

   
   }

   
   .img1-cont h5{

   
    color: white;

   
    font-size: 25px;

   
    font-weight: 100;

   
    letter-spacing: 2px;

   
   
   }

   
   
   .img1-cont p{

   
    color: white;

   
    padding-top: 30px;

   
    font-size: 20px;

   
    letter-spacing: 2px;

   
    font-weight: 700;

   
   }

   
   
   .line{

   
    margin-top: 20px;

   
    width: 70%;

   
    height: 1px;

   
    background-color: white;

   
   }

   
   @media(max-width: 567px){

   
   
       .service-content .writeup-1 h1{

   
           color: white;

   
           width: 100%;

   
           text-align: center;

   
           font-size: 17px;

   
           letter-spacing: 1px;

   
           line-height: 40px;

   
           font-weight: 100;

   
           }

   
     .service-cont{

   
       display: flex;

   
       flex-direction: column;

   
       
     }

   
     
   .service-img1{

   
     
       padding-bottom: 30px;

   
      }

   
   }
@media(max-width: 768px){
   .service-content{
    
   }
   
    .writeup-1 h1{

   
        color: white;


        width: 100%;


        text-align: center;


        font-size: 25px;


        letter-spacing: 1px;


        line-height: 40px;


        font-weight: 100;


        }
        .service-img1{

         width: 90%;
     
           }
     
   
}
@media(max-width: 992px){

    .service-img1{

        width: 90%;
    
          }
          
    .writeup-1 h1{

   
       
        line-height: 50px;


        }
   
} 
   /* conect */

   
   .connect{

   
    padding-top: 50px;

   
    width: 100%;

   
    height: 100%;

   
   }

   
   .con-con{

   
   display: flex;

   
   justify-content: space-between;

   
   padding-left: 50px;

   
   padding-right: 50px;

   
   }

   
   .con-img{

   
    position: relative;

   
   }

   
   
   .con-img1{

   
    width: 100%;

   
   }

   
   .con-img2{

   
       
    position: absolute;

   
    top: 35%;

   
    left: 32%;

   
   }

   
   .con-writeup{

   
    padding-top: 20px;

   
    
   }

   
   .con-write-up1 h3{

   
   font-size: 40px;

   
   font-weight: 100;

   
   line-height: 50px;

   
   
   }

   
   
   .con-write-up1 p{

   
    
    padding-top: 30px;

   
    font-size: 25px;

   
    font-weight: 100;

   
    line-height: 50px;

   
    
   }

   
   
   .con-btn{

   
    padding-top: 30px;

   
   }

   
   .con-btn button{
     cursor: pointer;
   
    width: 30%;

   
    height: 3rem;

   
    background-color: rgb(10, 38, 64);

   
    border: none;

   
    border-radius: 50px;

   
   
   }

   
.con-btn button:hover {
    background-color: rgb(20, 20, 20);
    
    box-shadow: 2px 3px 2px 3px rgba(59, 59, 59, 0.3);
   

}
   
   .con-btn button a{

   
    color: white;

   
   font-size: 20px;

   
   border: none;

   
   
   }

   
   .con-pro{

   
    display: flex;

   
   justify-content: space-between;

   
   padding-left: 50px;

   
   padding-right: 50px;

   
   padding-top: 70px;

   
   }

   
   .con-writeup{

   
   
       width: 40%;

   
   }

   
   .con-writeup{

   
    padding-top: 100px;

   
   }

   
   .conpro-write-up1 h3{

   
    padding-bottom: 60px;

   
   
    font-size: 40px;

   
   font-weight: 100;

   
   line-height: 50px;

   
   }

   
   
   .conpro-write-up1 p{

   
    padding-left: 60px;

   
    font-size: 20px;

   
    font-weight: 100;

   
    line-height: 50px;

   
     
   }

   .conpro-write-up1 p:hover{
    font-size: 22px;

   }
   
   .conpro-writeup{

   
       display: flex;

   
       justify-content: space-between;

   
   }

   
   .conpro-write-up1{

   
       width: 40%;

   
   }

   
   #para1 {

   
    display: flex;

   
    align-items: center;

   
    box-shadow: 3px 3px 6px 6px rgba(59, 59, 59, 0.2);

   
   background-color: rgb(10, 38, 64);

   
   margin-bottom: 40px;

   
   color: white;

   
   height: 4rem;

   
   }
   #para1:hover{
    
    height: 5rem;
   }

   
   
   #para2 {

   
    display: flex;

   
    align-items: center;

   
    border: 1px solid white;

   
    box-shadow: 3px 3px 6px 6px rgba(59, 59, 59, 0.2);

   
    margin-bottom: 40px;

   
    color: black;

   
    height: 4rem;

   
   }
  
   #para2:hover{
    
    height: 5rem;
   }
   
   
   #para3 {

   
    display: flex;

   
     align-items: center;

   
    
    border: 1px solid white;

   
    box-shadow: 3px 3px 6px 6px rgba(59, 59, 59, 0.2);

   
    margin-bottom: 40px;

   
    color: black;

   
    height: 4rem;

   
   }

   #para3:hover{

    height: 5rem;
   }
   
   .conpro-img{

   
       
   }

   
   .conpro-img img{

   
       width: 100%;

   
   }

   
       
   @media(max-width: 567px){

   
      
   .con-con{

   
       display: flex;

   
       flex-direction: column; 

   
       width: 100%;

   
       justify-content: left;

   
       padding-left: 0px;

   
       padding-right: 0px;

   
       }

   
   .con-img2{

   
       width: 70%;

   
    position: absolute;

   
    top: 35%;

   
    left: 25%;

   
   }

   
   .con-writeup{

   
       width: 100%;

   
       
   }

   
   .con-con .con-write-up1 h3{

   
       padding-top: 30px;

   
       width: 100%;

   
       font-size: 20px;

   
       font-weight: 600;

   
       line-height: 30px;

   
       }

   
       .con-con .con-write-up1 p{

   
        
        padding-top: 30px;

   
        font-size: 17px;

   
        font-weight: 100;

   
        line-height: 50px;

   
        
       }

   
       .con-pro{

   
       display: flex;

   
       flex-direction: column; 

   
       width: 100%;

   
       justify-content: left;

   
       padding-left: 0px;

   
       padding-right: 0px;

   
       }

   
       .conpro-writeup{

   
           display: flex;

   
           flex-direction: column;

   
           justify-content: left;

   
       }

   
       .conpro-write-up1{

   
           width: 100%;

   
       }

   
       
    .con-pro .conpro-write-up1 h3{

   
       text-align: left;

   
      padding-top: 20px;

   
       width: 100%;

   
       font-size: 20px;

   
       font-weight: 600;

   
       line-height: 30px;

   
      
       
      }

   
      .con-pro .conpro-write-up1 p{

   
       padding-left: 60px;

   
       font-size: 15px;

   
       font-weight: 100;

   
       line-height: 50px;

   
       padding-left: 20px;

   
        
      }

   }
@media(max-width: 768px){
 
      
    .con-con{

   
        display: flex;
 
    
        flex-direction: column; 
 
    
        width: 100%;
 
    
        justify-content: left;
 
    
        padding-left: 0px;
 
    
        padding-right: 0px;
 
    
        }
 
    
    .con-img2{
 
    
        width: 70%;
 
    
     position: absolute;
 
    
     top: 35%;
 
    
     left: 25%;
 
    
    }
 
    
    .con-writeup{
 
    
        width: 100%;
 
    
        
    }
 
    
    .con-write-up1 h3{
 
    
        padding-top: 150px;
 
    
        width: 100%;
 
    
        font-size: 35px;
 
    
        font-weight: 600;
 
    
        line-height: 40px;
 
    
        }
 
    
        .con-write-up1 p{
 
    
         
         padding-top: 30px;
 
    
         font-size: 25px;
 
    
         font-weight: 100;
 
    
         line-height: 50px;
 
    
         
        }
 
    
        .con-pro{
 
    
        display: flex;
 
    
        flex-direction: column; 
 
    
        width: 100%;
 
    
        justify-content: left;
 
    
        padding-left: 0px;
 
    
        padding-right: 0px;
 
    
        }
 
    
        .conpro-writeup{
 
    
            display: flex;
 
    
            flex-direction: column;
 
    
            justify-content: left;
 
    
        }
 
    
        .conpro-write-up1{
 
    
            width: 100%;
 
    
        }
 
    
        
    .conpro-write-up1 h3{
 
    
        text-align: left;
 
    
       padding-top: 30px;
 
    
        width: 100%;
 
    
        font-size: 35px;
 
    
        font-weight: 600;
 
    
        line-height: 40px;
 
    
       
        
       }
 
    
       .conpro-write-up1 p{
 
    
        padding-left: 60px;
 
    
        font-size: 25px;
 
    
        font-weight: 100;
 
    
        line-height: 60px;
 
    
        padding-left: 20px;
 
    
         
       }
 
    }
@media(max-width: 992px){
    .con-con{

   
        display: flex;
 
    
        flex-direction: column; 
 
    
        width: 100%;
 
    
        justify-content: left;
 
    
        padding-left: 0px;
 
    
        padding-right: 0px;
 
    
        }
 
    
    .con-img2{
 
    
        width: 70%;
 
    
     position: absolute;
 
    
     top: 35%;
 
    
     left: 25%;
 
    
    }
 
    
    .con-writeup{
 
    
        width: 100%;
 
    
        
    }
 
    
    .con-write-up1 h3{
 
    
        padding-top: 150px;
 
    
        width: 100%;
 
    
        font-size: 35px;
 
    
        font-weight: 600;
 
    
        line-height: 40px;
 
    
        }
 
    
        .con-write-up1 p{
 
    
         
         padding-top: 30px;
 
    
         font-size: 25px;
 
    
         font-weight: 100;
 
    
         line-height: 50px;
 
    
         
        }
 
    
        .con-pro{
 
    
        display: flex;
 
    
        flex-direction: column; 
 
    
        width: 100%;
 
    
        justify-content: left;
 
    
        padding-left: 0px;
 
    
        padding-right: 0px;
 
    
        }
 
    
        .conpro-writeup{
 
    
            display: flex;
 
    
            flex-direction: column;
 
    
            justify-content: left;
 
    
        }
 
    
        .conpro-write-up1{
 
    
            width: 100%;
 
    
        }
 
    
        
    .conpro-write-up1 h3{
 
    
        text-align: left;
 
    
       padding-top: 30px;
 
    
        width: 100%;
 
    
        font-size: 35px;
 
    
        font-weight: 600;
 
    
        line-height: 40px;
 
    
       
        
       }
 
    
       .conpro-write-up1 p{
 
    
        padding-left: 60px;
 
    
        font-size: 25px;
 
    
        font-weight: 100;
 
    
        line-height: 60px;
 
    
        padding-left: 20px;
 
    
         
       }
 
 
   

}
   
   /*testimony-----------*/
   
   .testimony{
   
    background-color: rgb(10, 38, 64);
   
    width: 100%;
   
    height: 100%;
   
    
    
   }
   
   .testimony-cont{
   
    padding-top: 40px;
   
   }
   
   .test-write{
   
    display: flex;
   
    justify-content: space-between;
   
    align-items: center;
   
    padding-bottom: 30px;
   
   }
   
   .test-write h3{
   
    color: white;
   
    font-size: 50px;
   
    font-weight: 100;
   
   }
   
   .card-wrapper{
   
     display: flex;  
     padding-bottom: 40px;
     
     justify-content: space-evenly;
   
    
   }
   
   .cards {
     background-color: white;
     border-radius: 15px;
    
    width: 30%;
   
   }
   .cards:hover{
    width: 35%;
    transition: .5s ;

   }
   .cad1{
    height: 100%;
   }
   .cad2{
    height: 100%;
   }
   .cad3{
    height: 100%;
   }
   
   .card1{
   
    display: flex;
   
    flex-direction: column;
   
    padding-right: 10px;
     
    text-align: center;
    height: 100%;
   
    padding-top: 30px;
   
    width: 100%;
   

   
    padding-left: 20px;
   
   
   }
   
   .card1 p{
   overflow-y: scroll;
       
       font-size: 20px;
       height: 20rem;
     
       line-height: 35px;
   
      }
   
      .card-para{
   
    
   
   
      }
   
   
   .card2{
   
       display: flex;
   
       flex-direction: column;
   
       padding-right: 10px;
   
       text-align: center;
       
   
   
       padding-top: 30px;
   
       width: 100%;
   
       height: 100%;
   
       padding-left: 20px;
   
   
      }
   
      .card2 p{
   
       font-size: 20px;
   overflow-y: scroll;
       line-height: 35px;
       height: 20rem;
   
       
      }
   
      
   .card3{
   
       display: flex;
   
       flex-direction: column;

   
       
       text-align: center;
   
       padding-top: 30px;
   
       width: 100%;
   
       height: 100%;
   
       padding-right: 10px;
   
       padding-left: 20px;
   
      }
   
      .card3 p{
   
       font-size: 20px;
       overflow-y: scroll;
       height: 20rem;
          
       line-height: 35px;
   
       
      }
   
   .card-img{
         height: 100%;
       display: flex;
       border-radius: 15px;
       align-items: center;
       justify-content: center;
       padding-bottom: 10px;
       padding-top: 10px;
   
       background-color: rgb(236, 232, 232);
   
   
   }
   
   
   .card-img img{
   
       width: 15%; 
   
       border-radius: 50%;
   
   }
   
   .card-img-write{
   
       padding-left: 20px;
   
       line-height: 25px;
   
   }
   
   
   .card-img-write h5{
   
       font-size: 15px;
   
       font-weight: 300;
   
   }
   
   .card-img-write h6{
   
       font-size: 15px;
   
       font-weight: 300;
   
   }
   
   
   @media(max-width: 567px){
   
      .testimony-cont{
   
       
      }
   
     .test-write{
   
       display: flex;
   
       flex-direction: column;
   
     }
   
     .testimony-cont .test-write h3{
   
       padding-top: 30px;
       line-height: 30px;
   
       padding-bottom: 30px;
   
       font-size: 20px;
   
     }
   
     .testimony-cont .test-write .icon-arr{
        display: flex;
    
       width: 100%;
   
     }
   
   .cad2{
   
       display: none;
   
   }
   
   .cad3{
   
       display: none;
   
   }
   
   .card-wrapper{
   
       display: flex;
   
       flex-direction: column;
   
       width: 100%;
   
       padding: 50px;
   
   }
   
   .card-wrapper .cards{
   
       width: 100%;
   
   }
   
  
   
   .card-img{
   
       
       background-color: rgb(255, 255, 255);
   
   
   }
   
   
   }
@media(max-width: 768px){
   
   .test-write{
 
     display: flex;
 
     flex-direction: column;
 
   }
      
  

 
   .test-write h3{
 
     padding-top: 30px;
 
     padding-bottom: 30px;
 
     font-size: 40px;
 
   }
 
   .testimony-cont .test-write .icon-arr{
     display: flex;
     width: 100%;
 
   }
 
 .cards .card2{
 
     display: none;
 
 }
 
 .cards .card1{
 
     display: none;
 
 }
 
 .cad3{
 
    display: block;

}

.cards .card3{
 
    display: block;

}
 .card-wrapper{
 
     display: flex;
 
     flex-direction: column;
 
     width: 100%;
 
     padding: 50px;
 
 }
 
 .cad2{
   
    display: none;

}

.cad1{

    display: none;

}
 
 .card-wrapper .cards{
 
     width: 100%;
     
 
 }
 
 .card-img{
 
     height: 100%;
     
 
 
 }
 
 .cards .card2{
   
    display: none;

}

.cards .card3{

    display: block;

}
    

    
   }
@media(max-width: 992px){
    .test-write{
   
        display: flex;
    
        flex-direction: column;
    
      }
      
   .test-write .icon-arr{
 
    width: 100%;
    padding-top: 20px;
  }
 
   

}  
   /*contact*/
   
   
   
   
   .contact{

   
    padding-top: 40px;

   
    width: 100%;

   
    height: 100%;

   
   }

   
   .contact-cont{

   
    width: 100%;

   
    
    display: flex;

   
    flex-direction: column;

   
    align-items: center;

   
    justify-content: center;

   
   }

   
   .contact-img{

   
    width: 100%;

   
   
   }

   
   
   .contact-img img{

   
    width: 100%;

   
   border-radius: 6px;

   
   }

   
   .contact-write{

   
    width: 30%;

   
    
   }

   
   .contact-write-cont{

   
       
    display: flex;

   
    justify-content: space-between;

   
    padding-top: 40px;

   
   }

   
   
   .contact-write h3{

   
    font-size: 40px;

   
    font-weight: 100;

   
    line-height: 50px;

   
   }

   
   
   
   .contact-icon p{

   
       width: 100%;

   
    font-size: 20px;

   
    font-weight: 100;

   
    line-height: 90px;

   
   }

   
   .contact-line{

   
    height: 1px;

   
    background-color: black;

   
   }

   
   @media(max-width: 567px){

   
   .contact-write-cont{

   
       display: flex;

   
       flex-direction: column;

   
       justify-content: left;

   
   }

   
   .contact-write{

   
       width: 100%;

   
   }

   
   .contact-write-cont .contact-write h3{

   
       text-align: left;

   
       padding-top: 30px;

   
        width: 100%;

   
        font-size: 20px;

   
        font-weight: 600;

   
        line-height: 30px;

   
   }

   
      .contact-write-cont .contact-icon p{

   
       padding-top: 60px;

   
       font-size: 15px;

   
       font-weight: 100;

   
       line-height: 50px;

   
       padding-left: 0px;

   
        
      }

   
   
   }

@media(max-width: 768px){
   
   
    .contact-write-cont{

   
        display: flex;
 
    
        flex-direction: column;
 
    
        justify-content: left;
 
    
    }
 
    
    .contact-write{
 
    
        width: 100%;
 
    
    }
 
    
    .contact-write h3{
 
    
        text-align: left;
 
    
        padding-top: 30px;
 
    
         width: 100%;
 
    
         font-size: 35px;
 
    
         font-weight: 600;
 
    
         line-height: 40px;
 
    
    }
 
    
       .contact-icon p{
 
    
        padding-top: 60px;
 
    
        font-size: 25px;
 
    
        font-weight: 100;
 
    
        line-height: 50px;
 
    
        padding-left: 0px;
 
    
         
       }
   
   
}


@media(max-width: 992px){
   
   
    .contact-write-cont{

      margin-bottom: 30px;
        display: flex;
 
    
        flex-direction: column;
 
    
        justify-content: left;
 
    
    }
 
    
    .contact-write{
 
    
        width: 100%;
 
    
    }
 
    
    .contact-write h3{
 
    
        text-align: left;
 
    
        padding-top: 30px;
 
    
         width: 100%;
 
    
         font-size: 35px;
 
    
         font-weight: 600;
 
    
         line-height: 40px;
 
    
    }
 
    
       .contact-icon p{
 
    
        padding-top: 60px;
 
    
        font-size: 25px;
 
    
        font-weight: 100;
 
    
        line-height: 50px;
 
    
        padding-left: 0px;
 
    
         
       }
    }
   /*Blogs------------*/

   
    .blog{

   
       width: 100%;

   
       height: 100%;

   
       

   
       
    }

   
    .blog-write h4{

   
       text-align: center;

   
       font-size: 30px;

   
       font-weight: 100;

   
    }

   
    
    .blog-write h2{

   
       font-size: 30px;

   
       font-weight: 700;

   
       padding-top: 20px;

   
       padding-bottom: 20px;

   
    }
    .blog-cards .cardpro .blog-cads{
        padding-top: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 8px 0px rgba(59, 59, 59, 0.4) ;

      
    }
    .blog-cards .cardpro.blog-cads .blog-card1 img{

     
       width: 70%;

   
   }
   .blog-cards .cardpro .blog-cads:hover{
      width: 150%;


   }
   
   .blog-card1{

   
       width: 100%;

   
       display: flex;

   
       flex-direction: column;

   
       justify-content: center;
   
       align-items: center;
      height: 30rem;
   
       
   }

   .blog-card1 img{
    width: 80%;
   }
   
   .blog-cont{

   
       
       width: 100%;

   
       
      display: flex;

   
      flex-direction: column;

   
      justify-content: center;

   
      align-items: center;

   
   }

   
   .blog-write{

   
       display: flex;

   
       flex-direction: column;

   
       justify-content: center;

   
       align-items: center;

   
       padding-bottom: 40px;

   
   }

   
   .blog-cards{

   
     width: 100%;

   
      
   }

   
   .cardpro{

   
       width: 100%;

   
       display: flex;

   
       justify-content: center;

   
       align-items: center;

   
   }


   
   
   .btn {

   
       padding-top: 70px;

   
       padding-bottom: 70px;

   
         
   }

   
   .btn button{

   
       height: 3rem;

   
       width: 9rem;

   
       border-radius: 50px;

   
       border: 2px solid black;

   
      
   }
   .btn button:hover{
    box-shadow: 3px 3px 3px 3px rgba(206, 206, 206, 0.8);
    width: 10rem;
    height: 4rem;
    background-color: rgb(10,38,64);
   }
   
   .btn button a{

   
       font-size: 15px;

   
       color: black;

   
       font-weight: bold;

   
   }
   

.btn button:hover a{

 font-size: 20px;
 color: white;
}

   
   .card-sm p span{

   
       color: rgb(10, 38, 64);

   
       font-weight: 600;

   
   }

   
   
   .card-sm p{

       font-size: 20px;
      text-align: left;
       
       line-height: 30px;

   
   
   }
   

   
   .card-sm{
      
    overflow-y: scroll;
        height: 100%;
       width: 80%;
     
   
       padding: 20px 0px 20px 0px;

   
       display: flex;

   
       flex-direction: column;

   
       

   
   
   }

   
   .blog-card-img{

    
       width: 80%;
       box-shadow: 2px 2px 0px 2px rgba(206, 206, 206, 0.2);
       height: 5rem;
       padding-bottom: 20px;
       display: flex;

   
       

   
       align-items: center;

   
   }
   
   
   .card-img-write h5{

   
       font-weight: bold;

    
   }

   
   
   .blog-card-img img{

   
       width: 15%;

   
       border-radius: 50%;

   
   }

   
   
   .blog-cont .icon-arr {

   
       display: none;

   
   }

   
   
   @media(max-width: 567px){

   
   
         .container{

   
           padding-left: 10px;

   
           padding-right: 10px;

   
         }  

   
         .blog-write h2{

   
           padding-top: 70px;

   
         }

   
         .blog-write h4{

   
           text-align: center;

   
           font-size: 20px;

   
           line-height: 30px;

   
           font-weight: 100;

   
        }

   
   
        .blog-cads .blog-card1 img{

   
           width: 90%;

   
       }

   
   
   
      .blog-cards .cardpro .blog-cads:nth-child(2){

   
           display: none;

   
       }

   
       .blog-cards .cardpro .blog-cads:nth-child(3){

   
           display: none;

   
       }

   
       
       
       .blog-cont .icon-arr {

   
           width: 100%;

   
           display: flex;
           padding-bottom: 20px;

   
       }

   
       .blog-cont .icon-arr i{

   
           color: rgb(104, 104, 3);

         border: 1px solid rgb(190, 184, 184);
           background-color: white;

   
       }

       .blog-cads .blog-card-img{
          width: 90%;

       }
       
   .blog-cads .blog-card-img img{

   
       width: 20%;

   
       border-radius: 50%;

   
   }

   
       
       .blog-cads .card-sm p{

          
           text-align: left;

           font-size: 20px;

   
           line-height: 30px;

   
       
       }
       .blog-cads .card-sm{
        width: 90%;
       }

   
   }


@media(max-width: 768px){
    .container{

   
        padding-left: 10px;


        padding-right: 10px;


      }  


      .blog-write h2{


        padding-top: 70px;


      }


      .blog-write h4{


        text-align: center;


        font-size: 30px;


        line-height: 40px;


        font-weight: 100;


     }



     .blog-card1 img{
        height: 70%;
        padding-top: 30px;
        width: 90%;
        object-fit: cover;
    }




  .cardpro .blog-cads:nth-child(2){


        display: none;


    }


    .cardpro .blog-cads:nth-child(3){


        display: none;


    }


    
    
    .blog-cont .icon-arr {


        width: 100%;


        display: flex;
        padding-bottom: 20px;


    }


    .blog-cont .icon-arr i{


        color: rgb(104, 104, 3);

      border: 1px solid rgb(190, 184, 184);
        background-color: white;


    }

    .blog-card-img{
        width: 90%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
.blog-card-img img{


    width: 10%;


    border-radius: 50%;


}

.card-sm{
    height: 100%;
    width: 90%;
}
       
.card-sm p{

   
    text-align: left;


    font-size: 20px;


    line-height: 30px;



}

    



}
   
   
   /*end------------------*/
 .end{
    width: 100%;
    height: 100%;
    padding-top: 20px;
 }
   .end-cont {

    padding-top: 50px;

    text-align: center;

    background-color: rgb(10, 38, 64);

   }

   .end-cont h3{

    font-size: 60px;

    font-weight: 500;

   color: white;


   }

   .end-cont{

     padding-top: 40px;

     padding-bottom: 80px;

   }

   .fild{

    display: flex;

    justify-content: center;

    align-items: center;

    padding-top: 30px;

   }

   .end-btn{

            padding-left: 30px;

            width: 10%;

   }

   
     .end-cont input{


        color: black;

        font-size: 30px;

        padding-left: 20px;

        width: 25%;

        height: 4rem;

        border-radius: 50px;

        
     }

   .end-cont input:focus{

    outline: none;

   }

.end-cont button{

    background-color: rgb(101, 228, 163);

    width: 130%;

    height: 4rem;
    cursor: pointer;
    border: none;

    border-radius: 50px;

    
}
.end-cont button:hover{
    background-color: gray;
}

.end-cont button a {

    color: black;

    font-size: 30px;

}



@media(max-width: 567px){


    .end .end-cont h3{

        font-size: 20px;

        line-height: 30px;

        
       }

       .end .end-cont .fild{

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;


       }

       .end .end-cont{

        padding-left: 10px;

        padding-right: 10px;

       }

       
       .end .end-cont .fild .end-btn{

    padding-top: 30px;

    padding-left: 0px;

    
    width: 60%;

}

     .end .end-cont input{

        height: 3rem;

        width: 100%; 

        font-size: 20px; 

     }

  
.end .end-cont button{

    height: 2rem;

    width: 80%;

}


.end .end-cont button a{

    font-size: 20px; 

    font-weight: bold;  

}




}

@media(max-width: 768px){







    .end-cont h3{

        font-size: 30px;

        line-height: 40px;

        
       }

       .fild{

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;


       }

       .end-cont{

        padding-left: 10px;

        padding-right: 10px;

       }

       
   .end-btn{

    padding-top: 30px;

    padding-left: 0px;

    
    width: 30%;

}

     .end-cont input{

        height: 3rem;

        width: 70%; 

        font-size: 20px; 

     }

  
.end-cont button{

    height: 3rem;

    width: 80%;

}


.end-cont button a{

    font-size: 20px; 

    font-weight: bold;  

}




}

@media(max-width: 992px){







    .end-cont h3{

        font-size: 30px;

        line-height: 40px;

        
       }

       .fild{

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;


       }

       .end-cont{

        padding-left: 10px;

        padding-right: 10px;

       }

       
   .end-btn{

    padding-top: 30px;

    padding-left: 0px;

    
    width: 30%;

}

     .end-cont input{

        height: 3rem;

        width: 70%; 

        font-size: 20px; 

     }

  
.end-cont button{

    height: 3rem;

    width: 80%;

}


.end-cont button a{

    font-size: 20px; 

    font-weight: bold;  

}
}

   
   /*footer---------------------*/

   
    


/*icons------*/


.icon-arr{


    display: flex;


    justify-content: space-between;


    
    align-items: center;


    width: 10%;


    
    
    }


    .icon-arr i{


     background-color: aliceblue;


     width: 50px;


     display: flex;


     justify-content: center;


     align-items: center;


     height: 3rem;


     border-radius: 50%;


     font-size: 30px;


     color: rgb(10, 38, 64);


     cursor: pointer;


    
    }
    .icon-arr i:hover{
        width: 60px;

    }

.foot-wrapper{

    margin-top: 70px;

    margin-bottom: 70px;

    width: 80%;


display: flex;

justify-content: space-between;

}


.listing1 img{

    width: 40%;

}

  .listing1 p{

    color: rgb(144, 144, 144);

   
   padding-top: 40px;

   line-height: 30px;

   font-size: 20px;

  }  


.listing h3{

    font-size: 20px;

    padding-top: 20px;

    color: black;

}

.listing ul li{

    padding-top: 40px;

    line-height: 30px;

    font-size: 20px;

    color: rgb(144, 144, 144);

}

.listing1 .space{


    padding-top: 60px;

}

.listing:nth-child(3) li:nth-child(3):after{

    content: " Hiring! ";

    font-size: 15px;

    background-color: rgb(101, 228, 163);

    border-radius: 50px;

}


@media(max-width: 567px){

    .foot-wrapper{

    

    }
    
.foot-wrapper  .listing ul li{

    font-size: 15px;

}

    .foot-wrapper .listing{

        padding-bottom: 90px;

    }

    .foot-wrapper{

       
        width: 100%;
    
    
    display: flex;
    
    justify-content: space-between;
    
    }
    .foot-wrapper .listing1{
        width: 20%;
        padding-top: 10px;
    }
     .foot-wrapper .listing ul h3{
        font-size: 15px;
     }
     
     .foot-wrapper .listing ul li{
        font-size: 10px;
     }
  .foot-wrapper .listing1 p{


   line-height: 30px;

   font-size: 10px;

  }  
  

}

@media(max-width: 768px){


    .foot-wrapper{

       
        width: 100%;
    
    
    display: flex;
    
    justify-content: space-between;
    
    }
    .listing1{
        width: 20%;
    }
     
  .listing1 p{


   line-height: 30px;

   font-size: 15px;

  }  
  .listing1 img{

    width: 100%;
    padding-top: 10px;

}




}


@media(max-width: 992px){


    .foot-wrapper{

       
        width: 100%;
    
    
    display: flex;
    
    justify-content: space-between;
    
    }
    .listing1{
        width: 20%;
    }
     
  .listing1 p{


   line-height: 30px;

   font-size: 15px;

  }  
  .listing1 img{

    width: 100%;
    padding-top: 10px;

}


}



